@charset "UTF-8";
/*inicio*/
/*VARIABLES*/
/*CONDICIONALES*/
/*VARIABLES*/
/*CONDICIONALES*/
.section1 {
  width: 60; }

.section2 {
  width: 120; }

/*VARIABLES*/
/*CONDICIONALES*/
p {
  color: blue; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.nuestraCompañia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 5%; }

.titulos {
  width: 100%; }

h1 {
  color: red; }

h2 {
  color: blue; }

.abog {
  background-color: brown;
  width: 5rem; }

.noticia {
  background-color: cadetblue;
  width: 10em; }

.quienesSomos {
  background-color: chocolate; }

.contacto {
  background-color: cyan; }
