@import "_variables";
$colorPrimario: beige;

p {
  @if $color == red {
    color: $colorPrimario;
  } @else if $color == azul {
    color: $colorSecundario;
  } @else {
    color: $colorTerciario;
  }
}
