/*inicio*/

.nuestraCompañia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "titulo titulo parte1 parte1 parte1"
    "abog escr noticia quienesSomos contacto";
  justify-content: center;
}

/*Tarifas*/
.tablasChatas {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-areas:
    "tablaAbog tablaEscr"
    "tablaAbog tablaEscr"
    "video video";
}

.tablaAbog {
  grid-area: tablaAbog;
}

.tablaEscr {
  grid-area: tablaEscr;
}

.video {
  grid-area: video;
}

/*Preguntas frecuentes*/
.preguntasGrid {
  width: 100%;
  margin: 1px;
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-auto-rows: 3fr 4fr 3fr;
  grid-template-areas:
    "preguntasFrecuentes sectionGaleria"
    "preguntasFrecuentes sectionGaleria"
    "footerPadre pFooter";
  grid-column: auto;
}

.preguntasFrecuentes {
  grid-area: preguntasFrecuentes;
}

.sectionGaleria {
  grid-area: sectionGaleria;
}

/*CONSULTAS*/

.consultas {
  width: 100%;
  margin: 1px;
  display: grid;
  grid-template-columns: 5fr 3fr 3fr;
  grid-template-rows: 5fr 5fr 3fr;
  grid-template-areas:
    "section1 section2 section3"
    "section1 section2 article2"
    "article1 article1 article1";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: stretch;
}

.section1 {
  grid-area: section1;
}

.section2 {
  grid-area: section2;
}

.article1 {
  grid-area: article1;
}

.article2 {
  grid-area: article2;
  text-align: justify;
}
